#body {
    font-size: 20px;
    font-family: "Patrick Hand", cursive;
  }
  #img-logo {
    border-radius: 10px;
  }
  #title {
    font-size: 40px;
    color: #ff9d00;
  }
  #image {
    max-width: 100%;
    display: block;
    height: auto;
    margin: auto;
    border-radius: 8px;
  }
  #img-caption {
    color: #c70039;
  }
  #img-caption1 {
    color: #c70039;
  }
  #tribute-info {
    background-color: #e5e5e5;
  }
  .text {
    color: black;
    font-size: 19px;
    padding: 2%;
  }
  #video {
    display: flex;
    margin: auto;
    width: 50% !important;
    border-radius: 10px;
  }
  #tribute-link {
    color: #c70039;
  }
  #colorV {
    color: #ff9d00;
  }
  #img-div {
    background-color: #dcd3f9;
  }
  #tabla {
    width: 100% !important;
    display: flex;
    margin: auto;
    color: black;
    text-align: center;
  }
  #descripcion {
    color: black;
    font-size: 19px;
    padding: 2%;
  }
  #inicio {
    color: #ff9d00;
  }
  #inicio1 {
    color: #ff9d00;
  }
  #lordenada {
    color: black;
    font-size: 20px;
    font-family: "Patrick Hand", cursive;
  }
  #footer {
    text-align: center;
    font-size: 20px;
    font-family: "Patrick Hand", cursive;
    color: white;
    align-items: center;
  }
  #img-footer {
    border-radius: 10px;
    margin: auto;
  }